/* CSS具体的属性排序可以按照以下的规则：
定位属性: position, float, z-index, clear
盒模型相关属性: padding, margin, display, width, height, border
字体相关
CSS2 视觉相关属性 (background)
CSS3 属性 (border-radius, box-shadow)
详情请看 https://markdotto.com/2011/11/29/css-property-order/
*/

/* 先固定body的背景：
1，background-image 插入背景图片；
2，background-attachment:fixed 使背景图片不随页面的滚动而滚动；
3，background-size:cover 使背景图片始终填满整个屏幕；
4，background-position:center 使背景图片居中
更多关于背景的知识：https://www.smashingmagazine.com/2009/09/backgrounds-in-css-everything-you-need-to-know/
*/
body {
  background-image: url(../img/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", "helvetica", arial, sans-serif;
  font-weight: 300;
  color: #62686f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 300;
}

/* container是为页面上的所有内容添加了一个外包围框，目的是：
  1，将内容居中；
  2，围框里所有block元素的默认宽度是充满父容器的宽度，不需要个别为每个元素设置宽度；
  3，之后支持响应式布局只需要调整外包围框的宽度即可改变内部所有元素的宽度，非常方便。
    width: 960px; 设置外包围框的宽度。
    margin: 0 auto; 让浏览器自动计算左右 margin，使外包围框居中。
    这个居中技巧只限于有设置宽度的容器。
    你常常会看到网页选择 960px 这个宽度，这是因为一般浏览器是 1024 宽，加上滚动条就是 1000-1004。960 给滚动条和其他浏览器 UI 预留了足够的空间。 并且 960 这个数字可以 2，3，4，5，6，8，10，12 等数字除尽，方便做网格。
  */
.container {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

/* main-header部分需要实现头像和H1居中，并将头像移出背景图一部分
  1, display: block; 把行元素变成块元素
  2, margin: 0 auto; 居中块元素 (元素一定要有 width 属性)
  3, text-align: center; 通过容器来居中行元素
      #使用 text-align 居中必须经过一个元素的父元素来居中，这会影响在这个容器里所有的元素。
      在前面这个例子你可以看到不只是图片居中了, h1 和 p 里面的文字也被居中了.
      如果你想要居中一个行元素（比如图片），但不影响同个容器里面的其他元素，那你可以选择把它设定为块元素来居中。
  4, border-radius: 999px;把头像变成圆形
  5, box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);给头像加阴影
  */
.main-header {
  background-image: url(../img/banner.jpg);
  text-align: center;
  margin-top: 100px;
  padding: 1px; /* 禁止margin折叠 */
}

.main-header__avatar {
  display: block;
  margin: 0 auto;
  margin-top: -70px;
  border: 3px solid white;
  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-header h1 {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 50px;
  font-family: "Open Sans", "helvetica", arial, sans-serif;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1024px) {
  .main-header h1 {
    font-size: 32px;
  }
}

/* nav部分实现导航条横布局且居中
  实现原理：
  list-style: none; 把列表装饰去掉
  padding: 0; margin: 0; 把浏览器默认的间隔清除
  li 默认是块元素。需要元素在同行显示的话记得把它们变成行元素:
  display: inline
*/
.main-nav {
  background-color: #333;
}

.main-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.main-nav ul li {
  margin: 15px 10px;
  display: inline-block; /*如果设置成inline，margin则无效，这是因为 inline 元素只能设置其左右内边距和外边距，而不能设置其高度和上下内外边距。
  和垂直高度有关的 padding, margin, height都无效。这时可以使用 display: inline-block。inline-block 元素可以简单理解为对外表现为行元素，而对内表现为块元素。 */
}

@media only screen and (max-width: 1024px) {
  .main-nav ul li {
    margin: 0;
    display: block;
  }
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

/* What I Do部分
1, 标题下面没有用 hr 或其他元素来显示下划线,没有用 img 元素来显示这三个技能的图片
和内容无关的装饰性设计元素应该通过 CSS 来实现。下面的练习我们会把图片和下划线加上去。

2, 通常一个萝卜一个坑，每个元素在文档流会占据一定的空间，一个接着一个。但有时候有些元素不在文档流里面，比如：
  定位的元素 （fixed 或者 absolute 定位）
  CSS 背景图
为了完整地显示这些不在文档流的东西，我们可以用 padding 在一个容器里预留空间。
  background-image: url("whale-logo.png");
  background-repeat: no-repeat; 禁止背景图重复
  background-position: center top; 居中背景图
  background-size: contain; 元素内部要有足够的空间完整地显示背景图
  padding-left: 40px; 通常图片的的大小是固定的。左边预留的空间写死就可以了。
*/

.whatido {
  background-color: #fff;
  padding: 1;
}

@media only screen and (max-width: 1024px) {
  .whatido {
    padding: 10px;
  }

  .whatido__skill {
    margin-bottom: 40px;
  }

  .whatido__skill-list {
    flex-direction: column;
  }
}

.whatido header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.whatido header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block; /*先将H2变成行内元素，再用：after实现后面的下划线*/
}

.whatido header h2:after {
  content: "";
  display: block;
  border-top: 3px solid black;
  margin-top: 20px;
  width: 5rem; /*固定直线的长度是5，然后margin左右auto实现居中*/
  margin-left: auto;
  margin-right: auto;
}

.info-section__description {
  font-style: italic;
}

.whatido__skill-list {
  list-style: none;
  padding: 0;
  display: flex; /*将list横向排列*/
  text-align: center;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 120px 10px 0 10px; /*通过推高padding-top让背景图片和文字分开*/
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 120px 10px 0 10px;
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 120px 10px 0 10px;
}

/* education-experience部分 */

.education-experience {
  background-color: #fff;
  padding: 1;
}

.education-experience header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.education-experience header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block; /*先将H2变成行内元素，再用：after实现后面的下划线*/
}

@media only screen and (max-width: 1024px) {
  .education-experience header h2 {
    padding: 0 1rem;
  }
}

.education-experience header h2:after {
  content: "";
  display: block;
  border-top: 3px solid black;
  margin-top: 20px;
  width: 5rem; /*固定直线的长度是5，然后margin左右auto实现居中*/
  margin-left: auto;
  margin-right: auto;
}

.education-experience__list li {
  display: flex;
  margin: 50px 50px;
  list-style: none;
}

.education-experience__list li img {
  max-width: 100%; /*使用max-width: 100%将图像的最大宽度设置为它在父元素中的宽度百分比。使用height: auto确保图像的高度自动调整，以保持图像的纵横比。这意味着图像将随着父元素的宽度变化而自动缩小，并始终保持原始的纵横比。*/
  width: 180px; /*设置图像宽度最多为180像素*/
  height: auto;
}

.education-experience__list__description {
  margin: 0 20px 0 50px; /*设置margin的顺序是上右下左*/
}

@media only screen and (max-width: 1024px) {
  .education-experience__list {
    flex-direction: column;
    padding-left: 0;
  }

  .education-experience__list li {
    flex-direction: column;
    text-align: left;
    margin: 20px 100px;
  }
  .education-experience__list li img {
    margin-left: auto;
    margin-right: auto; /*让图片居中*/
  }

  .education-experience__list__description {
    margin: 0;
  }
}

/* photos部分
用grid实现图片部分说明：
在上面的代码中，我们首先将.grid-container的display属性设置为grid，这样就告诉浏览器使用CSS Grid布局来显示这个列表。
然后，我们使用grid-template-columns属性设置4列，每列的宽度都是1fr（即分数单位，相当于一个相等的分数）。
我们使用grid-template-rows属性设置2行，每行的高度是自动的。最后，我们使用grid-gap属性设置每个元素之间的间距为10像素。
*/
.photos {
  background-color: #fff;
  padding: 1;
}

.photos header {
  text-align: center;
  margin-bottom: 30px;
}

.photos header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block; /*先将H2变成行内元素，再用：after实现后面的下划线*/
}

.photos header h2:after {
  content: "";
  display: block;
  border-top: 3px solid black;
  margin-top: 20px;
  width: 5rem; /*固定直线的长度是5，然后margin左右auto实现居中*/
  margin-left: auto;
  margin-right: auto;
}

.photos__list {
  margin: 20px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
}

@media only screen and (max-width: 1024px) {
  .photos__list {
    grid-template-columns: repeat(1, 1fr);
    align-items: center; /*图片垂直居中*/
    justify-items: center; /*图片水平居中*/
  }
}

/* get-in-touch部分
*/

.get-in-touch {
  background-color: #fff;
  padding: 1;
}

.get-in-touch header {
  text-align: center;
  margin-bottom: 30px;
}

.get-in-touch header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block; /*先将H2变成行内元素，再用：after实现后面的下划线*/
}

.get-in-touch header h2:after {
  content: "";
  display: block;
  border-top: 3px solid black;
  margin-top: 20px;
  width: 5rem; /*固定直线的长度是5，然后margin左右auto实现居中*/
  margin-left: auto;
  margin-right: auto;
}

.get-in-touch__list {
  margin: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .get-in-touch__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

/* contact部分
*/

.contact {
  background-color: #fff;
  padding: 1;
}

.contact header {
  text-align: center;
  margin-bottom: 30px;
}

.contact header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block; /*先将H2变成行内元素，再用：after实现后面的下划线*/
}

.contact header h2:after {
  content: "";
  display: block;
  border-top: 3px solid black;
  margin-top: 20px;
  width: 5rem; /*固定直线的长度是5，然后margin左右auto实现居中*/
  margin-left: auto;
  margin-right: auto;
}

.contact input,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.contact label {
  margin-bottom: 5px;
}

.contact button {
  border: none;
  border-radius: 9999px;
  padding: 10px 0;
  background: #ffd524;

  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
}

.contact form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 20rem;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .contact form {
    padding: 20px;
  }
}
